:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
div {
  min-height: 525vh;
  width: 100vw;
}
h1 {
  font-size: 5em;
  font-family: 'Helvetica', sans-serif;
    text-align: top-left;
    margin: 10vh 12vw;
}
h2 {
  font-size: 2.5em
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius:130px
}
p{
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}
a {
  color: rgb(0,0,0);
  text-decoration: underline;
}
p a {
  border: 1px solid #000;
}
ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  margin-top: 3%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
  font-family: helvetica;
}
li#lower {
  margin-top: 7%;
}
li#lowest {
  margin-bottom: 14%;
}
div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
  display: flex;
}
ul li {
  padding-left: 30px;
}
li {
  margin-bottom: 50px;
  transition: 0.6s ease;
}
li:hover {
  fontsize: 1.2em;
  transition: 0.6s ease;
