body {
  color: rgb(49,51,53);
  font-family: Georgia, serif;
  margin: 0px;
}
.picture_row li {
   width:100%;
  float: left;
  display: inline;
  font-family: "Arial";
}
div {
  min-height: 10vh;

}
h1 {
  font-size: 3em;
  font-family: 'Helvetica', sans-serif;
    text-align: top-left;
    margin: 10vh 12vw;
}
h2 {
  font-size: 2.5em
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.normalimg {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius:130px
}
p{
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}
a {
  color: rgb(0,0,0);
  text-decoration: underline;
}
p a {
  border: 1px solid #000;
}
ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  margin-top: 3%;
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
  font-family: helvetica;
}
li#lower {
  margin-top: 7%;
}
li#lowest {
  margin-bottom: 14%;
}
div.contrast {
  background-color: rgb(55,55,63);
  color: rgb(255,255,255);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
  display: flex;
}
ul li {
  padding-left: 30px;
}
li {
  margin-bottom: 50px;
  transition: 0.6s ease;
}
li:hover {
  fontsize: 1.5em;
  transition: 0.6s ease;
}

form {
  margin-left: 100px;
margin-right: 100px;
}

#name {
  margin-bottom: 5px;
}
